body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
 
}

.navbar {
    display: flex;
    color: #F9FAF8;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;

}

#header {
    background-color: #1F2937;
    padding: 0 100px 0 100px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero-section {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 40px 0;
}

.placeholder {
    height: 200px;
    width: 450px;
    background-color: grey;
    text-align: center;
}

.hero-text {
    flex-basis: 600px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 5px 20px 5px 20px;
    font-size: 1.2rem;
    color: #E5E7EB;
    border-radius: 15px;
    border: none;
}